check3-5
[{"id":"854b570f.bbf438","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d0de4da8.9cb25","type":"inject","z":"854b570f.bbf438","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":150,"y":140,"wires":[["33e545f0.17380a","ac8f50eb.406ff"]]},{"id":"33e545f0.17380a","type":"function","z":"854b570f.bbf438","name":"payload","func":"msg.headers={\n    deviceKey:\"C8D0zStlR1uLaXWF\"\n};\nmsg.payload=\"Humidity,,50.3\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["a34de831.b904e8"]]},{"id":"a34de831.b904e8","type":"http request","z":"854b570f.bbf438","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DWatJNOh/datapoints.csv","tls":"","x":550,"y":140,"wires":[["2066ade2.47c692","488fd40b.cbe7dc"]]},{"id":"2066ade2.47c692","type":"debug","z":"854b570f.bbf438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":60,"wires":[]},{"id":"488fd40b.cbe7dc","type":"http response","z":"854b570f.bbf438","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]},{"id":"ac8f50eb.406ff","type":"function","z":"854b570f.bbf438","name":"payload","func":"msg.headers={\n    deviceKey:\"C8D0zStlR1uLaXWF\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["a34de831.b904e8"]]}]