check2-5
[{"id":"95498f38.69267","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d1f41a4.b23e2e8","type":"inject","z":"95498f38.69267","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["173a69d9.a712b6"]]},{"id":"173a69d9.a712b6","type":"function","z":"95498f38.69267","name":"payload","func":"msg.headers={\n    deviceKey:\"C8D0zStlR1uLaXWF\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["ebd0e257.66447","940abd6e.cfbec"]]},{"id":"ebd0e257.66447","type":"http request","z":"95498f38.69267","name":"","method":"GET","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DWatJNOh/datachannels/Temperature/datapoints.csv","tls":"","x":590,"y":140,"wires":[["7e8fa235.48fbdc","59b5380a.6dc7c8"]]},{"id":"7e8fa235.48fbdc","type":"http response","z":"95498f38.69267","name":"","statusCode":"","headers":{},"x":770,"y":160,"wires":[]},{"id":"59b5380a.6dc7c8","type":"debug","z":"95498f38.69267","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":60,"wires":[]},{"id":"940abd6e.cfbec","type":"http request","z":"95498f38.69267","name":"","method":"GET","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DWatJNOh/datachannels/Humidity/datapoints.csv","tls":"","x":590,"y":200,"wires":[["7e8fa235.48fbdc","3dc116a0.da766a"]]},{"id":"3dc116a0.da766a","type":"debug","z":"95498f38.69267","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]}]