check4-5
[{"id":"80661533.b5bd48","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"adcff577.fa0738","type":"http in","z":"80661533.b5bd48","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["31c87d68.d1fc42"]]},{"id":"11730a24.e32146","type":"rpi-gpio in","z":"80661533.b5bd48","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":150,"y":440,"wires":[["20d06ee2.2f61b2"]]},{"id":"20d06ee2.2f61b2","type":"function","z":"80661533.b5bd48","name":"set gpio","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["b5b8e468.cb10b8"]]},{"id":"31c87d68.d1fc42","type":"function","z":"80661533.b5bd48","name":"get gpio","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["ea5b5f3f.36dfb","b5b8e468.cb10b8"]]},{"id":"ea5b5f3f.36dfb","type":"http response","z":"80661533.b5bd48","name":"","statusCode":"","headers":{},"x":550,"y":320,"wires":[]},{"id":"b5b8e468.cb10b8","type":"debug","z":"80661533.b5bd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":440,"wires":[]}]