check5-5
[{"id":"5706310d.e859d","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"30012b3e.07c384","type":"http in","z":"5706310d.e859d","name":"Set GPIO","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["edbb1799.c17cf8","a05883ee.2bbdf"]]},{"id":"edbb1799.c17cf8","type":"function","z":"5706310d.e859d","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["cabfa9ab.293bb8"]]},{"id":"cabfa9ab.293bb8","type":"rpi-gpio out","z":"5706310d.e859d","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":280,"wires":[]},{"id":"a05883ee.2bbdf","type":"function","z":"5706310d.e859d","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["9c0a31f4.a5ba9","b48ca29.3c4a76"]]},{"id":"9c0a31f4.a5ba9","type":"http response","z":"5706310d.e859d","name":"","statusCode":"","headers":{},"x":630,"y":80,"wires":[]},{"id":"b48ca29.3c4a76","type":"debug","z":"5706310d.e859d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"47888dbe.00d204","type":"http in","z":"5706310d.e859d","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["53906249.da2f6c","73af7218.d1a4ac"]]},{"id":"53906249.da2f6c","type":"function","z":"5706310d.e859d","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["cabfa9ab.293bb8"]]},{"id":"73af7218.d1a4ac","type":"function","z":"5706310d.e859d","name":"Return Status","func":"msg.payload=\"GPIO5 set to 0\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["c2f0c609.eeb818","b48ca29.3c4a76"]]},{"id":"c2f0c609.eeb818","type":"http response","z":"5706310d.e859d","name":"","statusCode":"","headers":{},"x":620,"y":460,"wires":[]}]